@*
    ViewData["Title"] = "Hola";
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home de la cocina para todos</title>
</head>
<body>
    <font color="red" face="Comic Sans MS,arial">
        <h1 align="center"><i>*</i></h1>
        <h1 align="center"><i>**</i></h1>
        <h1 align="center"><i>Creditos</i></h1>
        <h2 align="center">títulos de crédito:</h2>
    </font>

    <font face="Comic Sans MS,arial">
        <h5 align="center">
            <b align="center"> Creador:</b> Carlos Alberto Cadena S.
            <br>
            <b> Nacio en:</b> Quito en 1980, padre de tres hijos
            <br>
            <b> Trabaja:</b> Profesor de italiano privado
            <br>
            <b> Contacto:</b> cas.cadena@yavirac.edu.ec
        </h5>
    </font>
    <h2 align="center"> <font color="red">Amante de los Videojuegos Retro</font></h2>
    <br>
    <h5 align="center"><font face="Comic Sans MS" color="green">Mario Bros 1, 2, 3, Zelda, Mega Man, Metroid, Galaga, Pac-Man</font></h5>
    <br>
    <h6 align="center"><font color="red">Agradezco su lectura</font></h6>
    
</body>
</html>


