@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a HuertoV </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<font color="green" face="Comic Sans MS,arial">
    <div class="login-box">
        <img class="avatar" src="" alt="">
        <form align="center">
            <h1> HuertoV Login</h1>

            <label for="username">username</label>
            <input type="text" placeholder="Enter username">
            <br />
            <label for="password">password</label>
            <input type="password" placeholder="Enter password">

        </form>

    </div>
    </font>

